# dependencies
**/node_modules

# production
**/dist
/.vscode
lib/**
es/**

_site
server/

# dumi
.dumi/tmp
.dumi/tmp-production

components/version/version.ts
components/version/version.tsx
components/version/token.json
components/version/token-meta.json
